# dependencies
node_modules/

# Next.js
.next/
out/

# production
build/
dist/

# local env files
.env
.env.*
!.env.example
.vercel/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# temporary secrets/keys
*.pem
*.key
id_rsa*

.vercel
